* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Fondo con 70% amarillo y 30% negro */
    background: linear-gradient(to top, #FFB800 70%, black 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Contenedor del formulario */
.container {
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

/* Estilos de campos del formulario */
input[type="text"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; /* Tamaño de fuente uniforme */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h2, h3 {
    color: #333;
}

/* Estilos para formularios específicos */
.form-eliminar, .form-register {
    padding: 30px; /* Ajustado para el contenedor general */
    margin: 20px auto; /* Espaciado entre formularios */
}

.controls {
    margin-bottom: 16px;
}

.botons {
    margin: 16px 0;
}

/* Menú de navegación */
.nav {
    background-color: #830248;
}

.nav__title {
    color: #fff;
}

.dropdown__link {
    color: rgb(184, 187, 191);
}

.dropdown__anchor {
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}

/* Galería de imágenes */
.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes {
    justify-content: space-around;
}

/* Responsividad */
@media screen and (max-width: 700px) {
    .container {
        width: 90%; /* Contenedor del formulario más ancho en pantallas pequeñas */
    }
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 22px;
    }
}
