/* Estilos generales existentes */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

/* Estilos para el fondo de la página */
body {
    background-image: url(/imagenes/fondo.jpg); /* Añade aquí la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el formulario de login */
.login-container {
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #1f53c5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #45a049;
}
